
body {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 95%;
  background-color: magenta;
}

.floating-content {
  z-index: 10;
  position: absolute;
  background-color: white;
}

.hide-floating {
  display: none;
}
